/*(Duy)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'MinecraftiaRegular';
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.phrase {
  font-size: 25px;
  margin-top: 50px;
}

textarea {
  margin: 25px;
  height: auto;
  width: 975px;
}

.bottom {
  margin-top: auto; /* Pushes it to the bottom */
  text-align: center;
  height: 25%;
  width: 100%;
  background-image: url("https://antonidimes.github.io/grp109/team_project/image/pngtree-polygonal-banner-background-picture-image_972456.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}


/* Buu */
h1 {
  font-size: 50px;
}

.margin {
  margin-bottom: -15px;
  text-align: center;
  font-size: 30px;
  padding: 15px;
}

.score {
  margin-bottom: -15px;
  text-align: center;
}

p {
  text-align: center;
  font-size: 20px;
}

body {
  background-image: url("https://antonidimes.github.io/grp109/team_project/image/Pixelbackground.png");
}

.right {
  width: 30%;
  background-color: #7AD7FB;
  border:1px solid #8D8D8D;
}
/* Buu */
  
.left, .right {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%;
  width: 70%;
}
/*(Duy)*/
