/*(Duy)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'MinecraftiaRegular';
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

.container {
  display: flex;
  height: 100vh;
}

/* Buu */
h1 {
  font-size: 50px;
}

.margin {
  margin-bottom: -15px;
  text-align: center;
  font-size: 30px;
}

.score {
  margin-bottom: -15px;
  text-align: center;
}

p {
  text-align: center;
  font-size: 20px;
}

body {
  background-image: url("https://antonidimes.github.io/grp109/team_project/image/Pixelbackground.png");
}

.left {
  width: 70%;
}

.right {
  width: 30%;
  background-color: #7AD7FB;
  border:1px solid #8D8D8D;
}
/* Buu */
  
.left, .right {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.typing-area {
  width: 90%;
  height: 200px;
  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  border: 2px solid black;
  resize: none;
}
/*(Duy)*/
