// (Duy)
body {
        margin-top: 70px;
        margin-right: 40px;
        margin-left: 60px;
      }
h1 {
        text-align: center;
      }
// (Duy)

// (Buu)
h1 {
  font-family: 'MinecraftiaRegular';
  font-weight: normal;
  font-style: normal;
}

h3, p {
  text-align: center; 
}
// (Buu)
