// (Duy)
body {
        margin-top: 70px;
        margin-right: 40px;
        margin-left: 60px;
      }
h1 {
        text-align: center;
      }
// (Duy)

// (Buu)
h1 {
  font-family: 'MinecraftiaRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
}

h3, p {
  text-align: center;
  font-size: 25px;
}
body {
        background-image: url("https://th.bing.com/th/id/R.90c958b6d6a86ce4655aa77459812e02?rik=5VeGK%2bX9OFFsag&riu=http%3a%2f%2fcdn.wallpapersafari.com%2f94%2f79%2fqZjtJF.png&ehk=tFGePMPwprcCS%2f84dZS1m7vJjKsywCBKLwN2BZWVNrs%3d&risl=&pid=ImgRaw&r=0");
        background-repeat:no-repeat;
}
.container {
        background-color: #7AD7FB;
        padding: 1px;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        height:100%;
        border:1px solid #8D8D8D;
}
// (Buu)
